.sell {
    padding-top: 45px;
    h2 {
        margin-bottom: 17px;
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        
        color: #000000;
    }
    &__list-item {
        margin-bottom: 8px;
    }
    &__item {
        position: relative;
        padding: 24px 19px;
        border: 1px solid #000;
        // height: 133px;
        height: 66px;
        border-radius: 10px;
        overflow: hidden;
        transition-duration: .5s;
        cursor: pointer;
        &--active {
            height: 133px;
        }
        h3 {
            margin-bottom: 13px;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height */
            
            text-transform: uppercase;
            
            color: #000000;
        }
        li {
            padding-left: 15px;
            position: relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            /* identical to box height */


            color: #000000;
            &::after {
                content: "";

                display: block;
                position: absolute;
    
                width: 7px;
                height: 7px;
                top: 6px;
                left: 0px;
                background: #E61D4D;
                border-radius: 50%;
            }
        }
        &::before {
            content: "";

            display: block;
            position: absolute;

            width: 20px;
            height: 20px;
            top: 23px;
            right: 11px;

            background-image: url(./images/arrow.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

@media (min-width: $screen-table) {
    .sell {
        padding-top: 45px;
        padding-bottom: 92px;
        h2 {
            margin-bottom: 17px;
            font-weight: 800;
            font-size: 36px;
            line-height: 49px;
            text-align: center;
            text-transform: uppercase;
            
            color: #000000;
        }
        &__list-item {
            margin-bottom: 8px;
        }
        &__item {
            position: relative;
            padding: 24px 19px;
            border: 1px solid #000;
            border-radius: 10px;
            overflow: hidden;
            h3 {
                margin-bottom: 13px;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height */
                
                text-transform: uppercase;
                
                color: #000000;
            }
            li {
                padding-left: 15px;
                position: relative;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                /* identical to box height */
    
    
                color: #000000;
                &::after {
                    content: "";
    
                    display: block;
                    position: absolute;
        
                    width: 7px;
                    height: 7px;
                    top: 6px;
                    left: 0px;
                    background: #E61D4D;
                    border-radius: 50%;
                }
            }
            &::before {
                content: "";
    
                display: block;
                position: absolute;
    
                width: 20px;
                height: 20px;
                top: 23px;
                right: 11px;
    
                background-image: url(./images/arrow.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}


@media (min-width: $screen-desktop) {

}

